.line {
  //position: relative;
  display: flex;
  background: lightgray;
  height: 1px;
  margin: 8px 0;
  padding-left: 80px;

  .border-left {
    position: absolute;
    left: 0;
    height: 18px;
    width: 1px;
    background: black;
  }

  .border-right {
    position: absolute;
    right: 0;
    height: 18px;
    width: 1px;
    background: black;
  }

  // needs to have the exact same boundaries as a note
  .gap {
    flex: 1;
    min-width: 24px;
    width: 24px;
    height: 16px;
    border: 1px solid transparent;
    margin: 0 16px;
  }
}

.line.visible {
  background: black;
}